@import "scss/config";

.videoplay {

  &__source {
    width: 100%;
  }

  &__h1 {
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  &__button {
    max-width: 2em;
    max-height: 2em;
    margin: 5px;
  }

  &__goback {
    display: flex;
    justify-content: center;
    margin: $gutter;
  }

  &__gobacklink {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
  }



}
