@import "config";

.videolist {
  &__created {
    cursor: text;
  }

  &__h2 {
    padding: 0 $gutter / 2;
    font-size: 2rem;
  }

  &__line {
    border-bottom: 1px solid #eee;
  }

  &__posterAndDuration {
    position: relative;
  }

  &__poster { //eitthvað rugl bara til að sjá allar myndirnar
  }

  &__duration { //þarf að setja ofan á poster
    position: absolute;
    right: $gutter/2;
    bottom: $gutter;
    padding: 0 $gutter/4;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    display: block;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
