@import "config";

.videolist {

  &__category {
  }

  &__h2 {
    font-size: 2rem;
    padding: 0 $gutter / 2;
  }

  &__videos {
  }

  &__line {
    border-bottom: 1px solid #eee;
  }

  &__videoData {
    cursor: pointer;
  }

  &__posterAndDuration {
    position: relative;
  }

  &__poster { //eitthvað rugl bara til að sjá allar myndirnar
  }

  &__duration { //þarf að setja ofan á poster
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    position: absolute;
    text-align: center;
    bottom: $gutter;
    right: $gutter/2;
    padding: 0 $gutter/4;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /*&__created {

  }*/
}
