.videolist {

  &__videos {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__videoData {
    margin: 50px;
  }

  &__posterAndDuration {

  }

  &__poster { //eitthvað rugl bara til að sjá allar myndirnar
    max-width: 600px;
    max-height: 100px;
    border-radius: 2px;
  }

  &__duration { //þarf að setja ofan á poster

  }

  &__title {
    margin: 0;
  }

  &__created {

  }
}

//@import "scss/form"; til dæmis
