@import "scss/config";

html {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5;
  color: white;
  margin-right: $gutter;
  margin-left: $gutter;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

source {
  max-width: 100%;
}

main {
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}

@import "scss/videolist";
@import "scss/videoplay";
@import "scss/grid";
